[Unit]
Description=Numpad for Asus Touchpad
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/NumberPad
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
